.header-section {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  z-index: 1;
}

.burger-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 1001;
}

.burger-btn svg {
  width: 32px;
  height: 32px;
  stroke: #000;
  fill: none;
  display: block;
}

.burger-btn:hover {
  opacity: 0.8;
}

.burger-btn:hover svg {
  stroke: #333;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.header-desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-desktop-nav {
    display: block;
  }
}

.header-socials {
  display: none;
}

@media (min-width: 768px) {
  .header-socials {
    display: block;
  }
}