.home-section {
  padding: 4px 0 80px;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 32px;
  }
}

.home-header {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    gap: 32px;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

.title-wrapper {
  display: flex;
  gap: 8px;
  align-items: baseline;

  @media (min-width: 1440px) {
    height: 48px;
  }
}

.home-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 44px;
    line-height: 1.09;
  }
}

.current-category-name {
  color: rgba(36, 36, 36, 0.5);
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    gap: 30px;
  }
}

.search {
  position: relative;
  display: none;
}

.search-input {
  width: 100%;
  max-width: 100%;
  padding: 12px 46px 12px 14px;
  border: 1px solid var(--accent-color);
  border-radius: 30px;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 14px;
  box-sizing: border-box;
  transition: box-shadow var(--fast-trns);

  @media (min-width: 768px) {
    width: 273px;
    font-size: 16px;
    height: 48px;
  }
}

.input-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
}

.search-icon {
  stroke: currentColor;
  fill: transparent;
}

.filters {
  display: flex;
  align-items: start;
  gap: 20px;
  height: 28px;

  @media (min-width: 768px) {
    height: 48px;
  }
}

.filter-btn {
  position: relative;
  height: 28px;
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  line-height: 1.43;
  transition: color var(--fast-trns);
  background: transparent;
  border: none;
  padding: 0;

  @media (min-width: 768px) {
    height: 32px;
    font-size: 16px;
    line-height: 1.5;
  }

  &:hover {
    color: var(--accent-color);
  }

  &.active {
    color: var(--accent-color);
  }
}

.filter-btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(1);
  transform-origin: left;
  animation: underlineSlide 0.5s forwards;
}

@keyframes underlineSlide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media (min-width: 768px) {
    gap: 100px;
  }

  @media (min-width: 1440px) {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 64px;
  }
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;

  @media (min-width: 768px) {
    gap: 4px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px 18px;
  }
}

.cards-container:has(.exercise-card) .exercise-card {
  @media (min-width: 768px) and (max-width: 1439px) {
    width: calc(50% - 9px);
  }

  @media (min-width: 1440px) {
    width: calc(33.333% - 12px);
  }
}

@media (min-width: 776px) and (max-width: 778px) {
  .cards-container:has(.exercise-card) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
  }

  .cards-container:has(.exercise-card) .exercise-card {
    width: 100%;
  }
}

.cards-container:has(.category-card) {
  @media (min-width: 768px) {
    height: 996px;
  }

  @media (min-width: 1440px) {
    height: 1064px;
  }
}

.cards-container:has(.workout-list-item) {
  @media (min-width: 768px) {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px 18px;
  }
}

.cards-container:has(.workout-list-item) .workout-list-item {

  @media (min-width: 768px) and (max-width: 1439px) {
    width: calc(50% - 9px);
  }

  @media (min-width: 1440px) {
    width: calc(50% - 9px);
  }
}

.cards-container:has(.workout-card) {
  @media (min-width: 768px) {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 20px 18px;
  }
}

.cards-container:has(.workout-card) .workout-card {
  @media (min-width: 768px) and (max-width: 1439px) {
    width: calc(50% - 9px) !important;
    max-width: calc(50% - 9px) !important;
  }

  @media (min-width: 1440px) {
    width: calc(50% - 9px) !important;
    max-width: calc(50% - 9px) !important;
  }
}

.encourage-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 0px;
  }
}

.quote-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
  }
}

.encourage-img-container {
  margin-bottom: 32px;
  height: 242px;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 288px;
  }

  @media (min-width: 1440px) {
    width: 444px;
    height: 242px;
  }
}

.encourage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-card {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.activity-card-text {
  max-width: 300px;
  font-size: 14px;
  line-height: 1.45;

  @media (max-width: 1439.98px) {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
