<div class="favorites-wrapper">
  <div class="container favorites-section-wrapper">

    <h1 class="favorites-section-title">Favorites</h1>

    <div class="desktop-favorites-section">

      <div class="left-section-part">

        <load src="/partials/sharedComponents/quoteOfTheDay.html" />

        <div class="favorites-row">

          <div class="activity-card favorites-activity-card">
            <span class="activity-card-icon">
             <img src="/img/time-home-gantel-icon.svg" alt="Gantel">
            </span>

            <p class="activity-card-time">110 min</p>
            <p class="activity-card-title">Daily norm of sports</p>
          </div>

          <div class="favorites-image-wrapper">
            <img
              class="favorites-image"
              src="/img/quote_1x.png"
              srcset="/img/quote_1x.png 1x, /img/quote_2x.png 2x"
              alt="People training outdoors"
            >
          </div>

        </div>

      </div>

      <div class="right-section-part">
        <div class="workout-list-wrapper">

          <p class="not-items-message" hidden>
            It appears that you haven't added any exercises to your
            favorites yet. To get started, you can add exercises
            that you like to your favorites for easier access in the
            future.
          </p>

          <ul class="workout-list" id="exercise-cards-container"></ul>

        </div>
      </div>

    </div>
  </div>
</div>