<footer class="footer">
  <div class="container footer-container">

    <div class="row">

      <div class="col-1">
        <a class="logo" href="#">
          <svg width="132" height="24">
            <use href="/img/sprite.svg#your-energy"></use>
          </svg>
        </a>

        <load src="/partials/sharedComponents/socials.html" place="socials" />
      </div>

      <div class="col-2">
        <h3 class="heading">
          Transforming your <i>body</i> shape with us
        </h3>
      </div>

      <div class="col-3">
        <form id="subscribe-form">
          <p>Subscribe and learn about new exercises!</p>

          <div class="input">
            <input
              type="text"
              name="email"
              required
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              placeholder="Email"
            >
          </div>

          <div class="input">
            <input type="submit" value="Send">
          </div>
        </form>
      </div>

    </div>

    <div class="footer-ending row">

      <div class="col-1">
        <p>YourEnergy. All rights reserved.</p>
      </div>

      <div class="col-2">
        <p class="policy-links">
          <a href="#">Privacy Policy</a> /
          <a href="#">Terms of Service</a>
        </p>
      </div>

      <div class="col-3">
        <p class="year">©2023</p>
      </div>

    </div>

  </div>
</footer>
