<header class="header-section">
  <div class="container">
    <div class="header-container">

      <a href="/" class="logo">
        <svg width="132" height="24">
          <use href="img/sprite.svg#your-energy"></use>
        </svg>
      </a>

      <button type="button" class="burger-btn js-burger-button" id="burger">
        <svg width="32" height="32">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>

      <nav class="header-desktop-nav">
        <load src="/partials/sharedComponents/navigation.html" place="header" />
      </nav>

      <div class="header-socials">
        <load src="/partials/sharedComponents/socials.html" place="header" />
      </div>

    </div>
  </div>
</header>
