<div class="mobile-backdrop mobile-backdrop-js">
  <div class="mobile-menu-panel mobile-menu-js">

    <button class="mobile-menu-close-btn mobile-menu-close-js" type="button">
      <svg class="mobile-menu-close-icon" width="32" height="32">
        <use href="/img/sprite.svg#x"></use>
      </svg>
    </button>

    <nav class="mobile-menu-nav">
      <load
        src="/partials/sharedComponents/navigation.html"
        place="mobile-menu"
      />
      <load
        src="/partials/sharedComponents/socials.html"
        place="mobile-menu"
      />
    </nav>

  </div>
</div>
