<div id="exerciseModal" class="modal hidden">
  <div class="modal-content" id="exerciseModalContent">
		<span class="close-button" id="closeModalBtn">
			<svg>
				<use href="./img/sprite.svg#close"></use>
			</svg>
		</span>
    <div class="modal-data">
      <div class="img-container">
        <img
          id="modalImage"
          src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
          alt=""
        >
      </div>
      <div class="text-container">
        <div>
          <h2 id="modalTitle">Air bake</h2>
          <div class="rating-container">
            <span id="modalRating">4.0</span>
            <div class="stars">
              <svg class="star">
                <use href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="star">
                <use href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="star">
                <use href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="star">
                <use href="./img/sprite.svg#star"></use>
              </svg>
              <svg class="star">
                <use href="./img/sprite.svg#star"></use>
              </svg>
            </div>
          </div>
        </div>
        <ul class="info-container">
          <li class="info">
            <h3>Target</h3>
            <p id="modalTarget">Cardiovascular system</p>
          </li>
          <li class="info">
            <h3>Body Part</h3>
            <p id="modalBodyPart">Cardio</p>
          </li>
          <li class="info">
            <h3>Equipment</h3>
            <p id="modalEquipment">Leverage machine</p>
          </li>
          <li class="info">
            <h3>Popular</h3>
            <p id="modalPopular">0</p>
          </li>
          <li class="info">
            <h3>Burned calories</h3>
            <p id="modalCalories">116/3 min</p>
          </li>
        </ul>
        <p id="modalDescription" class="description">
          While not a muscle, this system is essential for endurance training.
          Aerobic exercises like running, cycling, and swimming improve
          cardiovascular health.
        </p>
      </div>
    </div>
    <div class="btn-container">
      <button id="favoriteButton" class="modal-btn add-fav-btn" aria-label="Add to favorites">
        Add to favorites
        <svg>
          <use href="./img/sprite.svg#heart"></use>
        </svg>
      </button>
      <button id="ratingButton" class="modal-btn add-rate-btn" aria-label="Rate this exercise">
        Give a rating
      </button>
    </div>
  </div>
</div>
