.cards-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;

  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards-container:has(.category-card) {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, auto) !important;
    grid-auto-flow: row !important;
    justify-content: start !important;
    row-gap: 20px !important;
    column-gap: 18px !important;
  }

  @media (min-width: 1440px) {
    display: grid !important;
    grid-template-columns: repeat(3, auto) !important;
    grid-auto-flow: row !important;
    justify-content: start !important;
    row-gap: 20px !important;
    column-gap: 18px !important;
  }
}

.cards-container:has(.category-card) {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, auto) !important;
    justify-content: start !important;
    row-gap: 20px !important;
    column-gap: 18px !important;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, auto) !important;
    justify-content: start !important;
    row-gap: 20px !important;
    column-gap: 18px !important;
  }
}

.cards-container .workout-card {
  width: 440px;
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.cards-container .workout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.cards-container .workout-badge {
  padding: 5px 8px;
  margin-right: 17px;
  color: currentColor;
}

.cards-container .rating-block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.cards-container .start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
  background: transparent;
  border: none;
}

.cards-container .star-icon {
  width: 18px;
  height: 18px;
}

.cards-container .workout-body {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.cards-container .workout-name {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
}

.cards-container .workout-stats {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cards-container .workout-stats-item {
  display: flex;
  gap: 2px;
  font-size: 12px;
  line-height: 1.5;
}

.cards-container .stats-calories {
  flex-shrink: 0;
  max-width: 131px;
}

.cards-container .stats-part {
  flex-shrink: 0;
  max-width: 91px;
}

.cards-container .stats-target {
  flex: 1 1 auto;
  overflow: hidden;
}

.cards-container .workout-stats-text {
  flex-shrink: 0;
  color: rgba(36, 36, 36, 0.4);
}

.cards-container .workout-stats-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--accent-color);
}