.quote-day-card {
  background-color: var(--accent-color);
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .quote-day-card {
    width: 100%;
    max-width: 100%;
    padding: 40px 40px;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .desktop-favorites-section .quote-day-card {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .quote-day-card {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0 !important;
  }
}

.quote-icon-running {
  position: absolute;
  top: 20px;
  left: 20px;
}

.quote-icon-mark {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (min-width: 768px) {
  .quote-icon-running {
    top: 40px;
    left: 40px;
  }

  .quote-icon-mark {
    top: 40px;
    right: 40px;
  }
}

.quote-day-card-content {
  width: 100%;
  height: 100%;
  min-height: 126px;
  display: flex;
  flex-direction: column;
  padding-left: 52px;
  padding-right: 20px;
  max-width: calc(100% - 2px);
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .quote-day-card-content {
    padding-left: 50px;
  }
}

.quote-day-card-title {
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .quote-day-card-title {
    line-height: 1.3;
    font-size: 24px;
    margin-bottom: 6px;
  }
}

.quote-day-card-text {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 8px;
}

.quote-day-card-author {
  margin-top: auto;
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.quote-day-card .loader-wrapper {
  width: 100px !important;
  height: 100px !important;
}

@media (min-width: 1440px) {
  .encourage-section {
    width: 444px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
  }

  .encourage-section .quote-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .encourage-section .quote-day-card {
    max-width: 100% !important;
    width: 100% !important;
    margin-right: 0 !important;
    box-sizing: border-box;
  }
}
