.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  flex-wrap: nowrap;

  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;
  padding: 6px;

  border-radius: 8px;
  border: 1px solid;

  flex-shrink: 0;

  transition: background-color var(--fast-trns), color var(--fast-trns);
}

.socials-icon {
  fill: currentColor;
}

.socials-list.header .socials-link {
  border-color: var(--social-border-header);
  color: var(--social-icon-header);
}

.socials-list.header .socials-link:hover,
.socials-list.header .socials-link:focus {
  background-color: var(--social-icon-header);
  color: var(--bg-color);
}

.socials-list.mobile-menu {
  justify-content: center;
  margin-top: auto;
}

.socials-list.mobile-menu .socials-link {
  border-color: var(--social-border-mobile-menu);
  color: var(--social-icon--mobile-menu);
}

.socials-list.mobile-menu .socials-link:hover,
.socials-list.mobile-menu .socials-link:focus {
  background-color: var(--bg-color);
  color: var(--social-icon-header);
}

@media (max-width: 375px) {
  .socials-list {
    gap: 8px;
  }
}
